*{
    margin: 0;
    padding: 0;
    transition: 0.5s;
    text-decoration: none;
    box-shadow: b;
    list-style: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: auto;
    background: rgb(164, 2, 2);
    overflow: hidden;
}

.navbar .nav h1{
    font-size: 24px;
    padding: 10px 40px;
    color: #fff;
}
 
.navbar .nav a{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar .nav-links{
    padding: 11px 20px;
    color: #fff;
    display: flex;
}

.navbar .nav-links a{
    margin-top: 5px;
}
.navbar .profile{
    width: 30px;
    height: 30px;
    margin: 0 30px;
}

.navbar .profile img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

@media only screen and (max-width: 720px) {
    .navbar .nav h1{
        font-size: 14px;
        margin: 9px 0px 0px -20px;
    }
    .navbar .nav-links a{
        margin-top: 7px;
        font-size: 18px;
        margin-right: 10px;
    }
    .navbar .profile{
        width: 30px;
        height: 30px;
        margin: 0 10px;
    }
}